
</div>
<div class=""></div>
  <div class="absolute center w-full h-[7vh] bottom-0 bg-[#77dd77] flex justify-center items-center">
    <p class="text-[14px] text-white">Made by SONAM NAYAK</p>
  </div>
</div>
</body>
</html>
