<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <nav class='flex justify-between h-[7vh] bg-[#77dd77] px-[100px] text-[18px] tracking-wider'>
    
      <div class='my-auto flex text-white'>
        <p class='ml-[5px] font-semibold tracking-widest'>MY JOURNAL</p>
      </div>
      <div class='w-[350px] flex justify-between my-auto text-white'>
        <div id="home"><a class="nav" href="/home">HOME</a></div>
        <div id="compose"><a class="nav" href="/compose">ADD POST</a></div>
        <div id="logout"><a class="nav" href="/logout">LOGOUT</a></div>
      </div>
  </nav>

  <body>
    <div class="container">
