.nav:hover {
    color: black !important;
    text-decoration: none;
}

.read_more:hover{
    text-decoration: none;
    color: rgb(37 99 235);
}

.add:hover{
    background-color: transparent;
    border: 2px solid #77dd77;
    color: black;
}